<form (ngSubmit)="onSubmit(form)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Usuario
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Nombre"
                            matInput type="nombre" [(ngModel)]="nombre"
                            name="nombre">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Campo" matInput type="tipo"
                            name="tipo"
                            [(ngModel)]="tipo">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input type="valor" [(ngModel)]="valor" name='valor'
                            required matInput>
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit">Editar</button>
        </mat-card-actions>
    </mat-card>
</form>
