div{
    margin-top: 80px;
    padding: 1px;
    border-radius: 8px;
}

html, body {
    height: 100%;
  }
  
  .container {
    min-height: calc(100% - 64px - 64px); 
    margin-bottom: -64px; 
    
  }
  
  footer {
    height: 64px;
  }

  
  